@{
    ViewData["Title"] = "PojištěníApp";
}

<div class="text-center">
    <p>Vítejte v aplikaci PojištěníApp. Pro otevření funkci se musíte 
        <a asp-controller="Account" asp-action="Login">příhlásit</a>.</p>
</div>
