@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["IndexTitle"];
}

<div class="text-center">
	<p>
		@Localizer["WelcomeMessage1"]<a asp-controller="Account" asp-action="Login">@Localizer["WelcomeMessage2"]</a>
	</p>
</div>
